# Ignore all .txt files in the data folder
data/docgraph-data/*.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Ignore all CSV files
*.csv

# temp
temp